.header-filter::before {
    background: rgba(0,0,0,.5);
}

.header-filter {
    background: rgba(0,0,0,.5);
}

.login-page {
    background-image: url('../../../assets/img/login.jpg');
    background-size: cover; background-position: top center;
}
