<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li><a href="https://www.grupowebmax.com">Grupo Webmax</a></li>
                <li><a href="https://www.grupowebmax.com/#">About Us</a></li>
                <li><a href="https://www.grupowebmax.com/#" target="_blank">Developer team</a></li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.grupowebmax.com" target="_blank">Grupo Webmax</a> for a better web.
        </div>
    </div>
</footer>
